<!DOCTYPE html>
<html lang="ru">
<head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>

    <script src="{{ url_for('static', filename='js/jquery-3.1.1.min.js') }}"></script>

    <script src="{{ url_for('static', filename='bootstrap-4.5.3/bootstrap.bundle.min.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap-4.5.3/bootstrap.min.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='dark-mode-switch-1.0.0/dark-mode.css') }}">

    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.png') }}">

    <style>
        .year {
            font-size: 1.4rem;
        }
        .day {
            font-size: 1.3rem;
        }
        .name {
            font-size: 1.15rem;
        }
        .platform {
            font-size: 1.2rem;
            font-weight: bolder;
            color: #17a2b8; /* .text-info */
        }
        .time {
            font-weight: lighter;
            font-size: 0.9rem;
        }
        img.category {
            margin-right: 0.5rem;
        }
    </style>
</head>
<body>
    <nav class="navbar">
        <div class="navbar-brand">
            <img src="{{ url_for('static', filename='img/favicon.png') }}" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
            {{ title }}
        </div>
        <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="darkSwitch">
            <label class="custom-control-label" for="darkSwitch">Темный режим</label>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="input-group mb-2">
            <input type="text" class="form-control bg-light" id="search" placeholder="Введите для поиска..." aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-outline-danger" id="clear_search" type="button">Очистить</button>
            </div>
        </div>

        <div class="accordion" id="accordion">
            {% for year, number in year_by_number %}
            <div class="card bg-light">
                <div class="card-header p-1" id="heading_{{ year }}">
                    <h5 class="mb-0">
                        <button class="btn btn-link w-100 p-0" type="button" data-toggle="collapse" data-target="#collapse_{{ year }}" aria-expanded="true" aria-controls="collapse_{{ year }}">
                            <h3 class="year">Год {{ year }} ({{ number }} игр)</h3>
                        </button>
                    </h5>
                </div>
                <div id="collapse_{{ year }}" class="collapse {{'show' if loop.index == 1 else ''}}" aria-labelledby="heading_{{ year }}" data-parent="#accordion" data-year="{{ year }}">
                    <div class="card-body p-0 {{'loaded-body' if loop.index > 1 else ''}}">
                    {% if loop.index == 1 %}
                        {# day_by_games будет обработан шаблоном year_by_game.html #}
                        {% include 'year_by_game.html' %}
                    {% else %}
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
                        </div>
                    {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <script>
        $(function() {
            // Подгрузка данных с сервера при раскрытии
            $(".collapse").on('show.bs.collapse', function(e) {
                let collapse_el = $(this);
                let loaded_body_el = collapse_el.find('.loaded-body');
                if (loaded_body_el.length == 0) {
                    return;
                }

                let year = collapse_el.data('year');
                $.get(
                    '/year/' + year,
                    function(data) {
                        loaded_body_el.html(data);
                        loaded_body_el.removeClass('loaded-body');

                        // Применение поиска на только что подгруженные игры
                        search(true, collapse_el.attr('id'));
                    }
                );
            })
        });

        function search(init=false, search_from_id=null) {
            let search_text = $('#search').val().toLowerCase();
            let is_empty = search_text.length == 0;

            // Если функция вызвана при прогрузке страницы и текста в поиске нет,
            // то ничего не делаем -- по умолчанию все элементы и так видимые
            if (init && is_empty) {
                return;
            }

            let query = '.media.game';
            if (search_from_id != null) {
                query = `#${search_from_id} ${query}`;
            }

            console.log(`Call search "${search_text}", using "${query}"`);

            let day_by_games = new Map();

            $(query).each(function() {
                let game_el = $(this);
                let day_el = game_el.parent().parent()

                let text = game_el.text().replace(/\s\s+/g, ' ').trim().toLowerCase();
                let is_visible = text.includes(search_text);
                game_el.toggle(is_visible);

                // Если хоть одна игра видима, то показываем блок ее карточки
                // Иначе, если уже был поиск и ее карточка была скрыта, то при проверке
                // видимости игры (:visible) она не будет показана, т.к. ее карточка скрыта
                if (is_visible) {
                    day_el.toggle(is_visible);
                }

                let day_el_dom = day_el[0];
                if (!day_by_games.has(day_el_dom)) {
                    day_by_games.set(day_el_dom, []);
                }

                day_by_games.get(day_el_dom).push(game_el);
            });

            for (let [day_el_dom, games] of day_by_games) {
                let number_visibles = 0;
                for (let game_el of games) {
                    if (game_el.is(":visible")) {
                        number_visibles++;
                    }
                }
                $(day_el_dom).toggle(number_visibles > 0);
            }
        }

        $(function() {
            $('#clear_search').click(function() {
                $('#search').val('');
                search();
            });

            var typingTimer = null;       // Timer identifier
            var doneTypingInterval = 300; // Time in ms

            $('#search').on('input', function() {
                clearTimeout(typingTimer);
                typingTimer = setTimeout(search, doneTypingInterval);
            });

            search(true);
        });
    </script>
    <script src="{{ url_for('static', filename='dark-mode-switch-1.0.0/dark-mode-switch.min.js') }}"></script>
</body>
</html>