<!DOCTYPE html>
<html lang="ru">
<head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>

    <script src="{{ url_for('static', filename='js/jquery-3.1.1.min.js') }}"></script>

    <script src="{{ url_for('static', filename='bootstrap-4.5.3/bootstrap.bundle.min.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap-4.5.3/bootstrap.min.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='dark-mode-switch-1.0.0/dark-mode.css') }}">

    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.png') }}">

    <style>
        .year {
            font-size: 1.4rem;
        }
        .day {
            font-size: 1.3rem;
        }
        .name {
            font-size: 1.15rem;
        }
        .platform {
            font-size: 1.2rem;
            font-weight: bolder;
            color: #17a2b8; /* .text-info */
        }
        .time {
            font-weight: lighter;
            font-size: 0.9rem;
        }
        img.category {
            margin-right: 0.5rem;
        }
    </style>
</head>
<body>
    <nav class="navbar">
        <div class="navbar-brand">
            <img src="{{ url_for('static', filename='img/favicon.png') }}" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
            {{ title }}
        </div>
        <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="darkSwitch">
            <label class="custom-control-label" for="darkSwitch">Темный режим</label>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="accordion" id="accordion">
            {% for year, number in year_by_number %}
            <div class="card bg-light">
                <div class="card-header p-1" id="heading_{{ year }}">
                    <h5 class="mb-0">
                        <button class="btn btn-link w-100 p-0" type="button" data-toggle="collapse" data-target="#collapse_{{ year }}" aria-expanded="true" aria-controls="collapse_{{ year }}">
                            <h3 class="year">Год {{ year }} ({{ number }} игр)</h3>
                        </button>
                    </h5>
                </div>
                <div id="collapse_{{ year }}" class="collapse {{'show' if loop.index == 1 else ''}}" aria-labelledby="heading_{{ year }}" data-parent="#accordion" data-year="{{ year }}">
                    <div class="card-body p-0 {{'loaded-body' if loop.index > 1 else ''}}">
                    {% if loop.index == 1 %}
                        {# day_by_games будет обработан шаблоном year_by_game.html #}
                        {% include 'year_by_game.html' %}
                    {% else %}
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
                        </div>
                    {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <script>
        $(function() {
            // Подгрузка данных с сервера при раскрытии
            $(".collapse").on('show.bs.collapse', function(e) {
                let collapse_el = $(this);
                let loaded_body_el = collapse_el.find('.loaded-body');
                if (loaded_body_el.length == 0) {
                    return;
                }

                let year = collapse_el.data('year');
                $.get(
                    '/year/' + year,
                    function(data) {
                        loaded_body_el.html(data);
                        loaded_body_el.removeClass('loaded-body');
                    }
                );
            })
        });
    </script>
    <script src="{{ url_for('static', filename='dark-mode-switch-1.0.0/dark-mode-switch.min.js') }}"></script>
</body>
</html>