{% for day, games in day_by_games.items() %}
<div class="media border p-1">
    <div class="media-body">
        <h4 class="day">{{ day }}</h4>
        {% for game in games %}
        <div class="media game p-1">
            {% if game.category == 'FINISHED_GAME' %}
            <img src="{{ url_for('static', filename='img/video-game-32x32.png') }}" class="category" alt="video-game">
            {% elif game.category == 'FINISHED_WATCHED' %}
            <img src="{{ url_for('static', filename='img/television-32x32.png') }}" class="category" alt="television">
            {% endif %}
            <div class="media-body game">
                <h5 class="mt-0 mb-0">
                    <div class="name d-inline-block">{{ game.name }}</div> (<div class="platform d-inline-block">{{ game.platform }}</div>)
                </h5>
                <div class="time">{{ game.finish_datetime_dt.time() }}</div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endfor %}